<!DOCTYPE html>
<html lang="en">

<head>
   <% include ./head %>
</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>
 <% include ./header %>
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

    <section id="former-events" class="">
      
       <div class="jumbotron">
        <h2 class="display-4">Former Events</h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary " href="#" role="button">Details</a>
      </div>

    </section>

     <section id="upcoming-events" class="">
      
       <div class="jumbotron">
        <h2 class="display-4">Upcoming Events</h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary " href="#" role="button">Details</a>
      </div>

    </section>


       <section id="industrial-visits" class="">
      
       <div class="jumbotron">
        <h2 class="display-4">Industrial Visits</h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary " href="#" role="button">Details</a>
      </div>

    </section>

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="text-center font-small ">
  <% include ./footer %>
  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->

    <!--  JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- JavaScript -->

  <!-- JQuery -->
  <script type="text/javascript" src="../../admin/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../admin/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../../admin/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../../admin/js/mdb.min.js"></script>

</body>

</html>
