<!--
    WEBSITE AUTHORS : 
    MONARCH MAISURIYA 
    HIMANSHU JOSHI
-->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/dashboard">
          <strong class="indigo-text "><h4 class="font-weight-bold">Dashboard</h4></strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            
             <!-- Client -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">Client</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                      <a class="nav-link waves-effect text-center" href="/dashboard#upcoming-events"><strong>Upcoming Events</strong></a>
                      <a class="nav-link waves-effect text-center" href="/dashboard#industrial-visits"><strong>Industrial Visits</strong></a>
                      <a class="nav-link waves-effect text-center" href="/dashboard#former-events"><strong>Former Events</strong></a>
                    </div>
                  </li>

                <!-- Admin -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Admin</a>
                  <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="nav-link waves-effect text-center" href="/dashboard/admins"><strong>Accounts</strong></a>
                  </div>
                </li>

         </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item">
              <a href="/logout" class="nav-link border border-light rounded waves-effect">
                <i class="fas fa-sign-out-alt"></i>Logout
              </a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->