<nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <a href="#">AdminPanel</a>
            <div id="close-sidebar">
              <i class="fas fa-times"></i>
            </div>
          </div>
          
          <!-- sidebar-header  -->
          
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>New Event</span>
                  <!--span class="badge badge-pill badge-warning">New</span-->
                </a>
                <div class="sidebar-submenu">
                        <ul>
                                <li>
                                  <a href="adminpanel/addevent">Add Event</a>
                                </li>
                                <li>
                                  <a href="adminpanel/removeevent">Remove Event</a>
                                </li>
                                
                                <li>
                                    <a href="adminpanel/editevent">Edit Event</a>
                                  </li>
                                  
                
                                <li>
                                    <a href="adminpanel/listevent">List Event</a>
                                  </li>
                                  
                              </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Former Event</span>
                  <!--span class="badge badge-pill badge-danger">3</span-->
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="adminpanel/addevent">Add Event</a>
                    </li>
                    <li>
                      <a href="adminpanel/removeevent">Remove Event</a>
                    </li>
                    
                    <li>
                        <a href="adminpanel/editevent">Edit Event</a>
                      </li>
                      
    
                    <li>
                        <a href="adminpanel/listevent">List Event</a>
                      </li>
                      
                  </ul>
                </div>
              </li>
             
                
              
              
            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <button class="btn btn-info" style="width:100%;  ">Logout</button>
      </nav>