<!--
    WEBSITE AUTHORS : 
    MONARCH MAISURIYA 
    HIMANSHU JOSHI
-->
<!--Sweet Alerts CDN-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<% if(swalsucc){ %>
  <script>
swal("Success", "Successfully subscribed to our newsletter", "success");
</script>
<%}%>
<% if(swalerr){ %>
<script>
swal("Error!", "An error has occured", "error");
</script>
<%}%>


<!-- views/pages/footer.ejs -->
<!-- Social buttons -->
<div class="primary-color mt-5">
  <div class="container">
    <!--Grid row-->
    <div class="row py-4 d-flex align-items-center">
      <!--Grid column-->
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0 white-text">
          Get connected with us on social networks!
        </h6>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 col-lg-7 text-center text-md-right">
        <!--Facebook-->
        <a class="fb-ic ml-0" href="https://www.facebook.com/aicheAU/
" target="_blank">
          <i class="fab fa-facebook white-text mr-4"> </i>
        </a>
        <!--Twitter-->
        <a class="tw-ic" href="https://twitter.com/AIChE_AU?s=09
" target="_blank">
          <i class="fab fa-twitter white-text mr-4"> </i>
        </a>
       
        <!--Linkedin-->
        <a class="li-ic" href="https://www.linkedin.com/in/aicheahmedabaduniversity
" target="_blank">
          <i class="fab fa-linkedin white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic" href="https://instagram.com/aiche_au?igshid=bhzu012gnbeu
" target="_blank">
          <i class="fab fa-instagram white-text mr-lg-4"> </i>
        </a>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
</div>
<!-- Social buttons -->
<!-- Footer Links -->
<div class="container text-center text-md-left mt-5">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-5 mt-md-0 mt-3">
      <!-- Content -->
      <h5 class="">We are located at </h5>
      <p>
       AES Bg.No-2, Commerce Six Rd, Navrangpura, Ahmedabad, Gujarat 380009

      </p>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-2 mb-md-0 mb-3">
      <!-- Links -->
      <h5 class="">Need Help ?</h5>

      <ul class="list-unstyled">
        
        <li>
          <a href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
    <!-- Grid column -->

    <!--Grid column-->
    <div class="col-md-5 mb-4">
      <p>
        Join our mailing list. We write rarely, but only the best content.
      </p>
      <form class="input-group" method="POST" action="/">
        <input
          type="email"
          class="form-control form-control-sm"
          placeholder="Your email"
          aria-label="Your email"
          aria-describedby="basic-addon2"
          required
          name="user_email"
        />
        <div class="input-group-append">
          <button class="btn btn-sm btn-outline-white my-0" type="submit">
            Sign up
          </button>
        </div>
      </form>
    </div>
    <!--Grid column-->
  </div>
  <!-- Grid row -->
</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">
  © <span id="copyrightDate"></span>
  <a href="https://ahduni.edu.in/" target="_blank"> Ahmedabad University</a> All rights
  reserved.
</div>
<!-- Copyright -->

