<!--
    WEBSITE AUTHORS : 
    MONARCH MAISURIYA 
    HIMANSHU JOSHI
-->
<!-- views/pages/head.ejs -->
<meta
  name="title"
  content="Ahmedabad University - Content Management System "
/>
<meta
  name="description"
  content="Content Management System for AU - Chemical , Events , Gatherings , Contests , Discussions all managed in one place"
/>
<meta name="keywords" content="Content , Management , System" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="English" />
<meta name="author" content="Monarch Maisuriya, Himanshu Joshi" />

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

<title>Ahmedabad University</title>
<!-- Font Awesome -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
/>
<!-- Bootstrap core CSS -->
<link href="../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/bootstrap.css" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="../../css/mdb.min.css" rel="stylesheet" />
<!-- Your custom styles (optional) -->
<link href="../../css/style.css" rel="stylesheet" />

<style>
time.icon
{
  font-size: 0.7em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color:#000;
  border-bottom: 1px dashed #000;
  box-shadow: 0 2px 0rgb(66,133,244);
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color:#000;
}
time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}
.cal{
  list-style: none;
}

.cal a{
  font-size:1em; 
  color: blue;
  display: inline-block; 
}
.cal time{
  display: inline-block;

}
.cal li{
  margin-top:1%; 
}

  </style>

