<!--
    WEBSITE AUTHORS : 
    MONARCH MAISURIYA 
    HIMANSHU JOSHI
-->
<!-- views/partials/head.ejs -->
<!--Navbar-->
<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
      <img src="/img/logo-text.png" height="35" alt="AU logo" />
      <img src="/img/logo2.png" height="30" alt="Aiche logo" />
    </a>

    <!-- Collapse button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#basicExampleNav"
      aria-controls="basicExampleNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-grip-lines text-white"></i>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav ml-auto smooth-scroll">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            
            
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Events</a
          >
          <div
            class="dropdown-menu dropdown-primary"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item text-center" href="/former"
              >Former</a
            >
            <a class="dropdown-item text-center" href="/upcoming"
              >Upcoming</a
            >
          </div>
        </li>

       
        
        <li class="nav-item">
            <a class="nav-link" href="/industrial-visits">Industrial Visits</a>
            
        </li>
        <li class="nav-item">
            
          <a class="nav-link" href="/show-tell">Show and Tell</a>
            
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chemecar">ChemECar</a>
        
        </li>
        <li class="nav-item">
            
          <a class="nav-link" href="/contact">Contact Us</a>
            
        </li>
        <li class="nav-item">
            
          <a class="nav-link"href="/about">About Us </a>
            
        </li> 
      </ul>
      <!-- Links -->
    </div>
    <!-- Collapsible content -->
  </div>
</nav>
<!--/.Navbar-->
