/* Basic CSS */
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.mt-10 {
  margin-top: 10%;
}
.mt-15 {
  margin-top: 15%;
}

.mb-10 {
  margin-bottom: 10%;
}
.mb-15 {
  margin-bottom: 15%;
}

.center-element {
  margin: 0 auto;
}
