/* Basic CSS */
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.mt-10 {
  margin-top: 10%;
}
.mt-15 {
  margin-top: 15%;
}

.mb-10 {
  margin-bottom: 10%;
}
.mb-15 {
  margin-bottom: 15%;
}

.m-5 {
  margin: 5%;
}
.center-element {
  margin: 0 auto;
}

a {
  color: rgb(68, 68, 68);
  transition: 500ms all ease-in-out;
}

a:hover {
  color: #212121;
  font-weight: 500;
}
