@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
html,
body,
header,
#intro {
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

#intro {
  background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  background-color: #1b2230;
  color: #fff;
}
nav a {
  color: #fff;
}
nav a:hover {
  color: #4285f4;
}

nav .navbar-brand {
  font-size: 1rem;
}
