@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Condensed&display=swap");
/* Basic CSS */
html,
body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

nav {
  background-color: #4285f4;
  color: #fff;
  font-size: 1rem;
}

nav a {
  color: #fff;
}
nav a:hover {
  color: #1b2230;
}
.dropdown-item a {
  color: #1b2230;
}
.top-nav-collapse {
  background-color: #4285f4;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #4285f4;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #4285f4;
  }
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.mt-10 {
  margin-top: 10%;
}
.mt-15 {
  margin-top: 15%;
}
.card-image {
  background-position: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.toast-body {
  margin: 0 auto;
}

.border-dark {
  border: 2px rgba(27, 34, 48, 0.5) solid;
  border-radius: 20px;
}

a {
  color: darkgray;
}

a:hover {
  color: #212121;
}

/* Gallery CSS*/

.thumbnail {
  margin: 1%;
  display: flex;
  background-position: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-wrap: wrap;
}

.modal-body {
  margin: 0 auto;
}

#modal-close {
  text-align: right;
  padding-right: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.blur {
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
