@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap");
html,
body {
  height: 100%;
  font-family: "Roboto Slab", serif;
}

nav {
  background-color: #4285f4;
  color: #fff;
  font-size: 1rem;
}

nav a {
  color: #fff;
}
nav a:hover {
  color: #1b2230;
}
.dropdown-item a {
  color: #1b2230;
}
.top-nav-collapse {
  background-color: #4285f4;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #4285f4;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #4285f4;
  }
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.mt-10 {
  margin-top: 10%;
}
.mt-15 {
  margin-top: 15%;
}
.card-image {
  background-position: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.toast-body {
  margin: 0 auto;
}
