<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="mt-10">
      <div class="container">
        <div class="row">
          <h1
            class="h1-responsive font-weight-bold my-5"
            style="margin: 0 auto;"
          >
            About Us
          </h1>
          <p class="font-weight-bold">
            Ahmedabad University is a private, non-profit institution
            established in 2009. We offer a range of diverse, rigorous academic
            programmes to enable students to grow into well-rounded leaders. Our
            programmes include undergraduate, graduate and doctoral studies in
            areas such as engineering, life sciences, management, arts, and
            computer science.
          </p>
        </div>

        <!-- Section: Testimonials v.3 -->
        <section class="team-section text-center my-5">
          <!-- Section heading -->
          <h2 class="h2-responsive font-weight-bold my-5">Our Team</h2>
          <!-- Section description -->
          <p class="dark-grey-text w-responsive mx-auto mb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit,
            error amet numquam iure provident voluptate esse quasi, veritatis
            totam voluptas nostrum quisquam eum porro a pariatur veniam.
          </p>

          <!--Grid row-->
          <div class="row text-center">
            <!--Grid column-->
            <div class="col-md-4 mb-md-0 mb-5">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg"
                    class="rounded-circle z-depth-1 img-fluid"
                  />
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">
                  Anna Deynah
                </h4>
                <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
                <p class="font-weight-normal dark-grey-text">
                  <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Quod eos id officiis hic
                  tenetur quae quaerat ad velit ab hic tenetur.
                </p>
                <!--Review-->
                <div class="orange-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star-half-alt"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-md-0 mb-5">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
                    class="rounded-circle z-depth-1 img-fluid"
                  />
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
                <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
                <p class="font-weight-normal dark-grey-text">
                  <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima
                  veniam, quis nostrum exercitationem ullam corporis suscipit
                  laboriosam, nisi ut aliquid commodi.
                </p>
                <!--Review-->
                <div class="orange-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                    class="rounded-circle z-depth-1 img-fluid"
                  />
                </div>
                <!--Content-->
                <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
                <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
                <p class="font-weight-normal dark-grey-text">
                  <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus
                  et iusto odio dignissimos ducimus qui blanditiis praesentium
                  voluptatum deleniti atque corrupti.
                </p>
                <!--Review-->
                <div class="orange-text">
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="fas fa-star"> </i>
                  <i class="far fa-star"> </i>
                </div>
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Testimonials v.3 -->
      </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
