<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-10">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Jumbotron -->
            <div class="jumbotron text-center">
              <!-- Title -->
              <h4 class="card-title h4 pb-2"><strong>My adventure</strong></h4>

              <!-- Card image -->
              <div class="view overlay my-4">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
                  class="img-fluid"
                  alt=""
                />
                <a href="#">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <h5 class="indigo-text h5 mb-4">Photography</h5>

              <p class="card-text">
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam.
              </p>

              <!-- Linkedin -->
              <a class="fa-lg p-2 m-2 li-ic"
                ><i class="fab fa-linkedin-in grey-text"></i
              ></a>
              <!-- Twitter -->
              <a class="fa-lg p-2 m-2 tw-ic"
                ><i class="fab fa-twitter grey-text"></i
              ></a>
              <!-- Dribbble -->
              <a class="fa-lg p-2 m-2 fb-ic"
                ><i class="fab fa-facebook-f grey-text"></i
              ></a>
            </div>
            <!-- Jumbotron -->
          </div>
          <div class="col-md-6">
            <!-- Jumbotron -->
            <div class="jumbotron text-center">
              <!-- Title -->
              <h4 class="card-title h4 pb-2"><strong>My adventure</strong></h4>

              <!-- Card image -->
              <div class="view overlay my-4">
                <img
                  src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
                  class="img-fluid"
                  alt=""
                />
                <a href="#">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <h5 class="indigo-text h5 mb-4">Photography</h5>

              <p class="card-text">
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam.
              </p>

              <!-- Linkedin -->
              <a class="fa-lg p-2 m-2 li-ic"
                ><i class="fab fa-linkedin-in grey-text"></i
              ></a>
              <!-- Twitter -->
              <a class="fa-lg p-2 m-2 tw-ic"
                ><i class="fab fa-twitter grey-text"></i
              ></a>
              <!-- Dribbble -->
              <a class="fa-lg p-2 m-2 fb-ic"
                ><i class="fab fa-facebook-f grey-text"></i
              ></a>
            </div>
            <!-- Jumbotron -->
          </div>
        </div>
      </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
