<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main class="mt-10">
      <div class="container">
      

        <!-- Section: Team v.1 -->
        <section class="team-section text-center my-5">
          <!-- Section heading -->
          <h2 class="h1-responsive font-weight-bold my-5">Our Amazing Team</h2>
          <!-- Section description -->
          <p class="grey-text w-responsive mx-auto mb-5">
              The strength of the team is each individual member. The strength of each member is the team.
          </p>

          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <% team.forEach(function(ele){ %>
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
              <div class="avatar mx-auto">
                <img
                  src="img/<%=ele.image%>"
                  
                  alt="Sample avatar"
                  style="width: 100%;height:200px;border-radius:40px; "
                />
              </div>
              <h5 class="font-weight-bold mt-4 mb-3"><%=ele.name%></h5>
              <p class="text-uppercase blue-text">
                <strong><%=ele.pos%></strong>
              </p>
              <p class="grey-text">
                 <%=ele.about%> 
              </p>
              <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                <a class="p-2 fa-lg fb-ic">
                  <i class="fab fa-facebook-f blue-text"> </i>
                </a>
                <!-- Twitter -->
                <a class="p-2 fa-lg tw-ic">
                  <i class="fab fa-twitter blue-text"> </i>
                </a>
                <!-- Instagram -->
                <a class="p-2 fa-lg ins-ic">
                  <i class="fab fa-instagram blue-text"> </i>
                </a>
              </ul>
            </div>
            <%})%>
            <!-- Grid column -->

            <!-- Grid column -->
           
            <!-- Grid column -->

            <!-- Grid column -->
            
            <!-- Grid column -->

            <!-- Grid column -->
          
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </section>
        <!-- Section: Team v.1 -->
      </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
