<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-10">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-sm-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-sm-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->4
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
          <div class="col-md-4">
            <!-- Card -->
            <div class="card">
              <!-- Card image -->
              <img
                class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg"
                alt="Card image cap"
              />

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title"><a>Card title</a></h4>
                <!-- Text -->
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            <!-- Card -->
          </div>
        </div>
      </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
