<!-- views/pages/contact.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-10">
      <div class="container">
    <!--Section: Contact v.2-->
<section class="mb-4">
  <!--Section heading-->
  
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will revert back to you as soon as possible.</p>

      <div class="container">
      <div class="row">
      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        
        <form method="POST" action="https://formspree.io/aiche.seas@ahduni.edu.in" class="mt-5">

          <div class="row">
            <div class="col-6">
              <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
            </div>
            <div class="col-6">
          <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
            </div>
        </div>
          <input type="text" id="defaultContactFormSubject" class="form-control mb-4" placeholder="Subject">
        
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
        
          <button class="btn unique-color-dark white-text mt-5" type="submit">Send</button>
        </form>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
              <li><i class="fas fa-map-marker-alt fa-2x"></i>
                  <p>AES Bg.No-2, <br>Commerce Six Rd,<br> Navrangpura,<br> Ahmedabad,<br> Gujarat </p>
              </li>

              <li><i class="fas fa-phone mt-4 fa-2x"></i>
                  <p>079 6191 1200</p>
              </li>

              <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                  <p>aiche.seas@ahduni.edu.in</p>
              </li>
          </ul>
      </div>
      <!--Grid column-->

  </div>
</div>
</section>
</main>
<!--Section: Contact v.2-->
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
