<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-10">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- Jumbotron -->
            <div
              class="card card-image"
              style="background-image: url(img/past.jpg);"
            >
              <div class="text-white text-center rgba-stylish-light py-5 px-4">
                <div class="py-5">
                  <!-- Content -->
                  <h3 class="h5 white-text">
                    <i class="fas fa-calendar-check"></i> Past Events
                  </h3>

                  <p class="mb-4 pb-2 mt-5 px-md-5 mx-md-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Pariatur obcaecati vero aliquid libero doloribus ad, unde
                    tempora maiores, ullam, modi qui quidem minima debitis
                    perferendis vitae cumque et quo impedit.
                  </p>
                  <a class="btn indigo"
                    ><i class="fas fa-clone left"></i> View</a
                  >
                </div>
              </div>
            </div>
            <!-- Jumbotron -->
          </div>
          <div class="col-md-6">
            <!-- Jumbotron -->
            <div
              class="card card-image"
              style="background-image: url(img/upcoming.jpg);"
            >
              <div class="text-white text-center rgba-stylish-light py-5 px-4">
                <div class="py-5">
                  <!-- Content -->
                  <h3 class="h5 white-text">
                    <i class="fas fa-calendar-plus"></i> Upcoming Events
                  </h3>

                  <p class="mb-4 mt-5 pb-2 px-md-5 mx-md-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Pariatur obcaecati vero aliquid libero doloribus ad, unde
                    tempora maiores, ullam, modi qui quidem minima debitis
                    perferendis vitae cumque et quo impedit.
                  </p>
                  <a class="btn indigo"
                    ><i class="fas fa-clone left"></i> View
                  </a>
                </div>
              </div>
            </div>
            <!-- Jumbotron -->
          </div>
        </div>
      </div>
    </main>
    <!--Main layout-->

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
