<!-- views/pages/industrial-visits.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main -->
  <div class="container mt-10 ">
  <!-- Projects section v.4 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h1 class="h1-responsive font-weight-bold text-center my-5">
  <i class="fas fa-industry"></i>
  Industrial Visits</h1>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit est laborum.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fas fa-plane"></i>
              <strong> Travel</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>This is card title</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto
              nulla ipsum dignissimos. Odit sed qui, dolorum!
            </p>
            <a class="btn btn-secondary btn-rounded btn-md"><i class="fas fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6 mb-md-0 mb-4">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="pink-text">
              <i class="fas fa-chart-pie"></i>
              <strong> Marketing</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>This is card title</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto
              nulla ipsum dignissimos. Odit sed qui, dolorum!
            </p>
            <a class="btn btn-pink btn-rounded btn-md"><i class="fas fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="green-text">
              <i class="fas fa-eye"></i>
              <strong> Entertainment</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>This is card title</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto
              nulla ipsum dignissimos. Odit sed qui, dolorum!
            </p>
            <a class="btn btn-success btn-rounded btn-md"><i class="fas fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Projects section v.4 -->  
  </div>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Dynamic Date -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
