<!-- views/pages/newsletter.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->
    <main class="container mt-10">
      <div style="padding: 5%;">
        <div class="container">
          <h2 class="display-6 text-center">
            <strong>Stay in the know , on the go</strong>
          </h2>
          <!-- Form -->
          <form
            class="md-form  px-lg-5"
            id="newsletter-form"
            action="/newsletter"
            method="POST"
          >
            <div class="text-center">
              <p>
                Join our mailing list. We write rarely, but only the best
                content.
              </p>

              <div class="row">
                <div class="col-sm-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="fname"
                      name="user_fname"
                      class="form-control"
                    />
                    <label for="fname" class="">First Name</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="lname"
                      name="user_lname"
                      class="form-control"
                    />
                    <label for="lname" class="">Last Name</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="md-form mb-0">
                    <input
                      type="text"
                      id="email"
                      name="user_email"
                      class="form-control"
                    />
                    <label for="email" class="">Your Email</label>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="btn btn-rounded unique-color-dark mt-5"
              onclick="document.getElementById('newsletter-form').submit();"
              >Subscribe</a
            >
          </form>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
