<!-- views/pages/chemecar.ejs -->

<!DOCTYPE html>
<html lang="en">

  <head>
  <meta name="author" content="MONARCH MAISURIYA">
  <meta name="author" content="HIMANSHU JOSHI">
    <% include ../partials/head %>
  </head>

  <body>
    <!-- Start your project here-->
    <!--Main Navigation-->
    <header>
      <% include ../partials/header %>
    </header>
    <!--Main Navigation-->

    <div style="height: 100vh">
      <div class="flex-center flex-column">
        <h1 class="animated fadeIn mb-2">RSC 2021</h1>

        <h5 class="animated fadeIn mb-1">
         Under construction.
        </h5>

        <p class="animated fadeIn text-muted">Ahmedabad University</p>
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">
      <% include ../partials/footer %>
    </footer>
    <!-- Footer -->
    <!-- End your project here-->

    <!-- SCRIPTS -->
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript">
      let date = new Date();
      document.getElementById("copyrightDate").innerHTML = date.getFullYear();
    </script>
    <!-- Gogogle Maps JavaScript -->
    <script type="text/javascript" src="../js/script.js"></script>
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
  </body>
</html>
